section.contact-me#contact-me 
    h2.section-head contact me
    .container
        .info 
            p If you like my protofolio you can contact me with any method you like and if you don't like it can you send me your feedback and your opinions on how can i improve it .
            ul.methods 
                li #[h3 email:] #[span moustafasaad954@gmail.com]
                li #[h3 phone:] #[span 01010273149]
        form(action="") 
            input(type="text" name='name' placeholder='enter your name')
            input(type="text" name='email' placeholder='enter valid email')
            textarea#msg(name="msg", cols="30", rows="10" placeholder='enter your msg') 
            button send