section.contact-me#contact-me 
    .container
        .info 
            h2.section-head contact me
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus rerum aut doloribus laborum fugit excepturi molestiae, quod temporibus pariatur, illum ullam voluptas adipisci quia perspiciatis, ipsam id reprehenderit quos consequatur.
            ul.methods 
                li #[h3 email]
                li #[h3 phone]
        form(action="") 
            input(type="text" name='name' placeholder='enter your name')
            input(type="text" name='email' placeholder='enter valid email')
            textarea#msg(name="msg", cols="30", rows="10" placeholder='enter your msg') 