extend ../layout/temp
append styles 
    link(rel="stylesheet", href=`${stylesPath}/main.css`)
block pageContent 
    include ./about.pug
    include ./mySkills.pug
    include ./myProjects.pug
    include ./contactMe.pug