.my-projects#my-projects
    h2.section-head my projects
    .container 
        .show
            iframe(src="https://www.google.com", frameborder="0") 
        ul.list
            li #[img(src='')]
            li #[img(src='')]
            li #[img(src='')]
            li #[img(src='')]
            li #[img(src='')]