.my-projects#my-projects
    h2.section-head my projects
    .container 
        .show
            iframe(src="https://moustafasa.github.io/space-tourism-multi-page-website/" width='100%' height='300px') 
        ul.list
            li #[img(src='')]
            li #[img(src='')]
            li #[img(src='')]
            li #[img(src='')]
            li #[img(src='')]