section.my-skills#my-skills
    h2.section-head myskills
    .container 
        ul
            li
                h3 html 
                div.progress
            li
                h3 css 
                div.progress
            li
                h3 js 
                div.progress
            li
                h3 sass 
                div.progress
        