.landing 
    .div.img 
        img(src=`${imgPath}/landing.jpg`, alt="")

    nav 
        .container
            h1.main-head  
                span protofolio
            ul 
                li #[a(href='#') about]
                li #[a(href='#') myskills]
                li #[a(href='#') my projects]
                li #[a(href='#') contact me]
