$blue-1-color: #071e3d;
$blue-2-color: #1f4287;
$blue-2-color-hover: rgb(44, 99, 209);
$blue-3-color: #278ea5;

$green-1-color: #2e4f4f;
$green-2-color: #4caf50;
$green-3-color: #21e6c1;

$white-color: white;
$black-color: #2c3333;

$gray-1-color: #393646;
$gray-2-color: #4f4557;
$gray-3-color: #6d5d6e;
$beige-color: #f4eee0;

$black-1-box-shadow: #000000a0;
$black-2-box-shadow: #0000002c;
$blue-color-transparent: #00bcd491;

// brands colors
$html5: 227, 79, 38;
$js: 247, 223, 30;
$sass: 207, 100, 154;
$css: 20, 159, 217;
$gulp: 207, 69, 69;
$pug: 239, 204, 163;
