@use "../../helpers/mixins" as *;
@use "../../variables/colors" as *;
@use "../../variables/dimensions" as *;
.about {
  padding-top: $section-padding;
  .container {
    display: flex;
    align-items: flex-start;
    padding-block: $section-padding;
    gap: 10%;
    @include medias("less small") {
      flex-direction: column;
      text-align: center;
      gap: 70px;
    }
    .img {
      @include centerbyflex("horizontal");
      position: relative;
      max-width: 430px;
      padding: 30px;
      align-self: center;
      @include medias("mobile") {
        margin-inline: 30px;
        padding: 20px;
      }
      img {
        @include circle(100%);
        aspect-ratio: 1;
        display: block;
        transition: 0.5s;
        box-shadow: 0 0 10px 0 $black-box-shadow;
        &:hover {
          scale: 1.2;
          rotate: -10deg;
        }
      }
      &::before {
        content: "";
        @include position(null, absolute, null, null, $top: 0, $left: 0);
        @include circle(100%);
        z-index: -1;
        box-shadow: 0 0 30px 44px $third-color;
        @include medias("mobile") {
          box-shadow: 0 0 30px 25px $third-color;
        }
      }
    }
    .content {
      padding: 10px;
      flex: 1;
      h3 {
        font-size: 50px;
        color: $forth-color;
        text-transform: capitalize;
        line-height: 1.9;
      }
      p {
        line-height: 1.9;
        font-size: 18px;
      }
    }
  }
}
