@use "../../helpers/mixins" as *;
@use "../../variables/colors" as *;
@use "../../variables/dimensions" as *;

.contact-me {
  .container {
    padding-block: $section-padding;
    display: flex;
    gap: 20px;
    .info {
      flex: 1;
      color: #999;
      p {
        line-height: 1.5;
        margin-bottom: 20px;
      }
      .methods {
        @include flex-gap(20px);
        li {
          display: flex;
          column-gap: 10px;
          h3 {
            text-transform: capitalize;
            color: $white-color;
          }
          span {
          }
        }
      }
    }
    form {
      flex: 1;
      @include flex-gap(10px);
      * {
        display: block;
        width: 100%;
      }
      input,
      textarea {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        outline: none;
        background-color: $black-color;
        color: $white-color;
      }
      input::placeholder,
      textarea::placeholder {
        text-transform: capitalize;
        color: #999;
      }
      input {
      }
      textarea {
        resize: none;
      }
      button {
        padding: 10px;
        text-transform: uppercase;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: $blue-2-color;
        color: $white-color;
        margin-top: 20px;
        cursor: pointer;

        transition: 0.5s;
      }
      button:hover {
        box-shadow: 0 0 10px $blue-color-transparent;
        background-color: $blue-2-color-hover;
      }
    }
  }
}
